 * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .wrapper {
            width: 80%;

            box-sizing: border-box;

            margin-left: auto;
            margin-right: auto;

        }

        .header {
            background-color: rgb(102, 189, 255);
            min-height: 64px;

        }

        .heading {
          
            margin-left: 20px;
            padding: 10px;


            display: inline-block;
        }

        .navbar {
            display: inline-block;
            margin-left: 265px;
            padding: 20px 30px;
            font-size: 20px;



        }

        .navbar li {
            display: inline-block;



        }

        .navbar li a {
            color: white;
            text-decoration: none;
            padding: 34px 23px;
        }

        .navbar li a:hover {
            color: black;
            font-weight: bold;
        }

        .imgsec img {
            width: 100%;
            max-height: 500px;
        }

        .service {
            text-align: center;
            font-size: 40px;
        }

        .sec {
            text-align: center;
            display: inline;
            float: left;
            width: 33.33%;
            border-right: 2px solid gray;
            min-height: 200px;
            margin-bottom: 30px;


            padding: 30px 45px;

            margin-bottom: 30px;
        }

        .sec>h3 {
            margin-top: 15px;
            margin-bottom: 10px;
            color: gray;
            font-size: 30px;
        }

        .sec>a {
            text-decoration: none;
            text-align: center;

            padding: 10px;
            background-color: rgb(102, 189, 255);
            color: white;
            font-weight: bold;
            border-radius: 35px;


        }

        .sec>a:hover {
            background-color: black;

        }

        .xyz {
            clear: both;
            background-color: rgb(102, 189, 255);
            text-align: center;

            padding: 10px 100px;
            min-height: 550px;




        }

        .xyz img {
            border: 5px solid white;
            width: 130px;
            border-radius: 70%;
        }

        .xyz>h3 {
            margin-top: 25px;
            font-size: 40px;
            color: white;

        }

        .xyz p {
            padding: 30px 70px;
            font-size: 22px;
            color: white;
        }

        .xyz a {
            text-decoration: none;
            font-size: 25px;
            border: 3px solid white;
            padding: 7px 20px;
            color: white;
            font-weight: bold;
        }

        .xyz>a:hover {
            background-color: white;
            color: black;
            font-weight: bold;
            border: 3px solid;
        }

        footer {
            background-color: black;
            text-align: center;
            font-size: 18px;
            padding: 10px;
            font-weight: bold;
            border: 3px solid black;
            color: white;

        }

        footer>a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }

        footer>a:hover {
            font-weight: bold;
            color: rgb(102, 189, 255);
        }

